<div class="content" role="main">
  <mat-tab-group>
    <mat-tab label="入札リスト">

      <div class="setup-jobs">
        <button *ngIf="!isStart" mat-raised-button style="margin-right: 30px;font-size: 20px;" color="success"
                (click)="startRefresh()">始めるing
        </button>

        <button mat-raised-button *ngIf="isStart" style="margin-right: 30px;font-size: 20px;" color="danger"
                (click)="stopRefresh()">停止
        </button>
        <div style="background: yellowgreen; color: white; padding: 15px;text-align: left;margin: 15px;">
          ストレスを軽減するため、「開始」をクリックした後、注文が終了するか、価格が注文を超える場合は、10秒後にページが閉じられます。
        </div>
      </div>

      <table style="width: 100%">
        <caption style="font-size: 20px;padding: 10px; text-align: left;">
          <span>ID:</span>
          <input style="margin-right: 15px;" (change)="doFilter()" [(ngModel)]="filterOption.orderId"/>
          <span>状況:</span>
          <select matNativeControl [(ngModel)]="filterOption.status" (change)="doFilter()" name="status">
            <option value="">全</option>
            <option *ngFor="let v of StatusDict" [value]="v.dictValue">
              {{v.dictLabel}}
            </option>
          </select>
          <button style="margin: 0 15px;" (click)="doFilter()">
            検索
          </button>
          <button style="margin: 0 15px;" (click)="reset()">
            リセット
          </button>

        </caption>
        <thead>
          <tr>
            <th>
              <span>ID({{dataSource.length}})</span>
              <input type="checkbox" [(ngModel)]="isALL" [checked]="isALL" name="isALL" id="isALL" (click)="all()"/>
              <label for="isALL">すべて選択</label>
            </th>
            <th>
              <button style="background: green;color: white" (click)="openAllLinks()"> リンクを開く</button>
            </th>
            <th>終了日時</th>
            <th>最高額入</th>
            <th>状況</th>
            <th>注意事項</th>
            <th>
              <button style="background: red; color: white;font-size: 18px;" (click)="deleteSelected()">選択を削除
              </button>
              <div>操作する
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataSource">
            <td>
              <input type="checkbox" [(ngModel)]="item.checked"/>
              <span>{{item.orderId}}</span>
            </td>
            <td>
              <a [href]="item.url" target="_blank"
                 style="text-decoration: underline; border-bottom: #3F51BB solid 1px; display: inline-block;  ">
                <img alt="" style="width: 90px; height: 90px; text-decoration: underline;" [src]="item.info"/>
              </a>
            </td>
            <td style="width: 68px;">{{item.updateTime}}</td>
            <td>
              <input type="number" style="width: 80px;" [(ngModel)]="item.limitPrice"/>
            </td>
            <td>
              <select matNativeControl [(ngModel)]="item.status" name="status">
                <option *ngFor="let v of StatusDict" [value]="v.dictValue">
                  {{v.dictLabel}}
                </option>
              </select>
            </td>
            <td>
              <input  [(ngModel)]="item.remark" type="text"  />
            </td>
            <td>
              <button style="background: yellowgreen; color: white; margin-right: 15px;" (click)="save(item)">保存
              </button>
              <button style="background: #F24331; color: white;" (click)="delete(item)">消去</button>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-tab>
    <mat-tab label="検索条件実績">
      <table style="width: 100%">
        <caption style="font-size: 20px;padding: 10px">検索条件実績を一覧表示</caption>
        <thead>
          <tr>
            <th>検索条件</th>
            <th>操作する</th>
          </tr>
        </thead>
        <tr *ngFor="let item of IkeyWordsList">
          <td>
            <a [href]="item.url" target="_blank"
               style="text-decoration: underline;  padding: 3px; display: block; font-size: 16px;">
              {{item.keywords}}
            </a>
          </td>
          <td>
            <button mat-raised-button color="warn" (click)="deleteKeyWord(item)">消去</button>
          </td>
        </tr>
      </table>
    </mat-tab>
    <mat-tab label="設定">
      <div class="sync-list">
        <input type="text" [(ngModel)]="productapi" placeholder="api url">
        <button (click)="clickProductApi()">入札リストを同期する</button>
      </div>

      <div class="sync-list">
        <input type="text" [(ngModel)]="keywordapi" placeholder="api url">
        <button (click)="clickKeywordApi()">同期検索条件</button>
      </div>

    </mat-tab>
  </mat-tab-group>
</div>
