.content {
  width: 800px;
  text-align: center;
  height: 1000px;
  padding: 0;

  .btn {
    margin: 5px;
  }

  .mat-mdc-raised-button.mat-warn {
    background-color: #F24331;
    color: white;
  }

  .mat-mdc-raised-button.mat-danger {
    background-color: #F24331;
    color: white;
  }

  .mat-mdc-raised-button.mat-success {
    background-color: green;
    color: white;
  }

  .mat-mdc-raised-button.mat-warning {
    background-color: yellow;
    color: black;
  }

  .mat-mdc-raised-button.mat-info {
    background-color: darkgrey;
    color: white;
  }

  .mat-mdc-raised-button.mat-primary {
    background-color: #3F51BB;
    color: white;
  }

  .setup-jobs {
    padding: 30px 15px;
  }

  .sync-list {
    padding: 15px;
    padding-bottom: 0;
    display: flex;

    input {
      flex: 1;
    }

    button {
      color: blue;
      font-weight: bold;
    }
  }

  table {
    border-collapse: collapse;

    td, th {
      padding:5px 0;
      border-bottom: 1px solid #ccc;
    }
  }
}
